* {
    background-color: #e75480;
}

/* HOME PAGE */

.text {
    margin-top: 7%;
}


h3 {
    color:white;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px #000000;

}

h4 {
    color:#D3D3D3;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.my-image {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    clear: both;
    margin-left: 5%;
}